<template>
  <label>
    <slot name="label">Label</slot>
  </label>
  <input @input="handleInput" :value="modelValue" v-bind="$attrs" :class="{'input--errored': errorMessage}"/>
  <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
</template>

<script setup lang="ts">
type Props = {
  modelValue: string;
  errorMessage: string;
};

type Emits = {
  (e: 'update:modelValue', value: string): void;
};

const props = defineProps<Props>();

const emit = defineEmits<Emits>();

const handleInput = (e: Event) => {
  emit("update:modelValue", (e.target as HTMLInputElement).value);
}
</script>

<style scoped>
label {
    display: block;
}

input {
    height: 32px;
    box-sizing: border-box;
    border:1px solid darkblue;
}

.input--errored {
    border-color: red;
}

.error {
    color: tomato;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0.3rem;
}
</style>
