<template>
  <div class="about">
    <h1>This is an about page</h1>
    <input type="text" v-model="hapun" name="hapa" />
    <p>{{ hapa }}</p>

    <section>
      <h3>Counter</h3>
      <button @click="increment" :disabled="counter.loading">{{ counter.count }}: {{ counter.doubleCount }}</button>
    </section>
  </div>
</template>

<script lang="ts" setup>
import { useCounterStore } from '@/stores/counter';
import { ref, computed } from 'vue';

const counter = useCounterStore();

const increment = () => {
  counter.setIsLoading(true);
  counter.increment()
}

const hapa = ref("hapa");

const hapun = computed({
  get() {
    return hapa.value + " shupa"
  },
  set(value: string) {
    hapa.value = value + "s"
  }
})

</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
