<template>
  <main>
    <h1>Message is here and you can see it</h1>
    <div class="image-container">
      
    </div>
    <form>
      <h2>My Form</h2>
      <div class="form-input">
        <label for="name">Name</label>
        <input name="name" v-model="name" id="name" />
        <p class="form-error" v-if="nameMeta.touched && errors.name">{{ errors.name }}</p>
      </div>
      <div class="form-input">
        <label for="email">Email</label>
        <input name="name" v-model="email" id="email" />
        <p class="form-error" v-if="emailMeta.touched && errors.email">{{ errors.email }}</p>
      </div>
      <button @click.prevent="onSubmit">Submit</button>
    </form>
    <VueliForm />
  </main>
</template>

<script setup lang="ts">
import { useForm, useField } from 'vee-validate';
import { object, string } from 'yup';
import { toTypedSchema } from '@vee-validate/yup';
import { watchEffect, watch } from 'vue';
import type {Ref} from "vue";
import VueliForm from '@/components/VueliForm.vue';

interface Form {
  email: string;
  name: string;
}

const { handleSubmit, errors, meta, setFieldTouched } = useForm<Form>({
  initialValues: {
    name: '',
    email: '',
  },
  validateOnMount: false,
  validationSchema: toTypedSchema(
    object({
      name: string().required(),
      email: string().required(),
    }),
  ),
});

const { value: name, meta: nameMeta } = useField('name');
const { value: email, meta: emailMeta } = useField('email');

watchEffect(() => {
  console.log(name.value, email.value, errors.value, 'values');
});

watch(name as Ref<string>, (value: string) => {
  if(value.length) {
    setFieldTouched("name", true)
  }
})

watch(email as Ref<string>, (value: string) => {
  if(value.length) {
    setFieldTouched("email", true)
  }
})

const onSubmit = handleSubmit(
  (values) => {
    console.log(values, 'values');
  },
  (error) => {
    console.log(error, 'error');
  },
);
</script>

<style scoped>
form {
  max-width: 300px;
}
.form-error {
  color: tomato;
  font-size: 12px;
  margin: 0.1rem 0;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.image-container {
  background-image: url("@/assets/images/earthim.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
  transition: background-size 0.2s linear;
}

.image-container:hover {
  background-size: 150%;
}


</style>
