<template>
  <div class="form-wrapper">
    <form>
      <div :class="{ 'name--errored': v$.name.$dirty && v$.name.$error }" class="name">
        <BaseInput
          v-model="formState.name"
          type="text"
          name="name"
          id="name"
          :errorMessage="v$.name.$dirty && v$.name.$error ? v$.name.$errors[0].$message as string : ''"
          @blur="v$.name.$touch"
        >
        <template #label>Name:</template>
        </BaseInput>
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import { useVuelidate } from '@vuelidate/core';
import { required, maxLength } from '@vuelidate/validators';
import { reactive } from 'vue';
import BaseInput from '@/components/ui/inputs/BaseInput.vue';

const formState = reactive({
  name: '',
});

const rules = {
  name: { required, maxLength: maxLength(10) },
};

const v$ = useVuelidate(rules, formState);
</script>

<style scoped>
.form-wrapper {
  max-width: 400px;
  padding: 3rem;
}

.name {
  display: flex;
  flex-direction: column;
}

.name input {
  border: 1px solid gray;
}

.name--errored input {
  border-color: red;
}

p {
  color: tomato;
  font-size: 12px;
}
</style>
